        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        *::after, *::before{
            content: '';
            display: flex;
        }
        body{
            width: 1280px;
            height: 570px;
            position: relative;
            overflow: hidden;
        }
        main{
            width: 1270px;
            height: 580px;
            border: 10px groove #81818166;
            position: relative;
            margin: auto;
        }
        .rabbit-right,
        .rabbit-left
        {
            width: 400px;
            height: 400px;
            position: absolute;
            margin: 100px 800px;
            z-index: 100;
        }
        .rabbit-right{
            transform: scale(.9) rotate(-10deg);
        }
        .rabbit-left{
            transform: scale(.8) rotateY(180deg);
            right: 40px;
        }
        .rabbit-right>div,
        .rabbit-left>div{
            position: relative;
        }
        /******************** Rabbit Body Start *******************/
        .rabbit-right-body,
        .rabbit-left-body{
            width: 215px;
            height: 240px;
            transform: translate(100px, -60px) rotate(14deg);
        }
        .rabbit-left-body>div,
        .rabbit-right-body>div{
            position: absolute;
        }

        .rabbit-right-belly,
        .rabbit-left-belly{
            width: 200px;
            height: 200px;
            background-color: #ece1b4;
            border-radius: 103% 100% 60% 83%;
        }
        .rabbit-right-belly::before,
        .rabbit-left-belly::before{
            width: 78%;
            height: 85%;
            background-color: #f9edbe;
            position: absolute;
            transform: translate(0px, 29px);
            border-radius: 50%;
        }
        .rabbit-left-belly::before{
            transform: translate(-10px, 26px) rotate(-47deg);
            border-radius: 100% 50% 100% 50%;
        }
        .rabbit-right-hand-right,
        .rabbit-left-hand-right,
        .rabbit-right-hand-left,
        .rabbit-left-hand-left,
        .rabbit-right-leg-left,
        .rabbit-left-leg-left,
        .rabbit-right-leg-right
        .rabbit-left-leg-right
        {
            width: 100px;
            height: 100px;
            position: relative;
        }
        .rabbit-right-hand-right,
        .rabbit-left-hand-right{
            transform: translate(110px, 90px);
        }
        .rabbit-right-hand-right::after,
        .rabbit-left-hand-right::after,
        .rabbit-right-hand-left::after,
        .rabbit-left-hand-left::after
        {
            width: 40px;
            height: 22px;
            background-color:  #f9edbe;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 80% 58% 68% 64%;
            transform: rotate(-45deg) translate(9px, -11px);
        }
        .rabbit-right-hand-right::before,
        .rabbit-left-hand-right::before,
        .rabbit-right-hand-left::before,
        .rabbit-left-hand-left::before{
            width: 30px;
            height: 16px;
            background-color: #f9edbe;
            position: absolute;
            border-radius: 80% 58% 68% 64%;
            transform: rotate(-11deg) translate(47px, 9px);
            z-index: 1;
        }
        .rabbit-right-hand-left,
        .rabbit-left-hand-left{
            transform: rotatey(180deg) rotate(-132deg) translate(-56px , 76px);
            z-index: -1;
        }
        .rabbit-right-leg-left,
        .rabbit-left-leg-left{
            transform: rotatey(0deg) rotate(-10deg) translate(-46px , 70px);
            z-index: -1;
        }
        .rabbit-right-leg-right,
        .rabbit-left-leg-right{
            transform: translate(73px, 103px);;
        }
        .rabbit-right-leg-right::after,
        .rabbit-left-leg-right::after,
        .rabbit-right-leg-left::after,
        .rabbit-left-leg-left::after
        {
            width: 90px;
            height: 55px;
            background-color:  #ece1b4;
            border-radius: 87% 100% 98% 32%;
            transform: translate(12px, -19px);
        }
        .rabbit-right-leg-right::before,
        .rabbit-left-leg-right::before,
        .rabbit-right-leg-left::before,
        .rabbit-left-leg-left::before
        {
            width: 20px;
            height: 63px;
            background-color: #ece1b4;
            border-radius: 87% 100% 98% 92%;
            transform: translate(10px, 35px);
        }
        /********************** Rabbit Body End ********************/


        /********************** Rabbit Face Start ********************/
        .rabbit-right-face,
        .rabbit-left-face{
            width: 147px;
            height: 106px;
            transform: translate(172px, -17px) rotate(25deg);
            background-color: #ece1b4;
            border-radius: 74px 80px 10px 32px;
            z-index: 2;
        }
        .rabbit-right-eye::after,
        .rabbit-left-eye::after,
        .rabbit-right-eye::before,
        .rabbit-left-eye::before
        {
            width: 8px;
            height: 15px;
            background-color: rgb(53, 50, 35);
            z-index: 10;
            border-radius: 50%;
        }
        .rabbit-right-eye::after,
        .rabbit-left-eye::after{
            transform: translate(87px , -17px);
            box-shadow: inset 0px 36px 0px 12px rgba(0,0,0,0.1);
        }
        .rabbit-right-eye::before,
        .rabbit-left-eye::before{
            transform: translate(34px , 0px) rotate(0deg);
            
            animation: anim-eye 6s 2s linear infinite forwards;
        }
        .rabbit-right-eyebrow::after,
        .rabbit-left-eyebrow::after,
        .rabbit-right-eyebrow::before,
        .rabbit-left-eyebrow::before
        {
            width: 16px;
            height: 18px;
            background-color:transparent;
            z-index: 10;
            border-radius: 50%;
            box-shadow: inset -1px 8px 0 -5px #555458;
        }
        .rabbit-right-eyebrow::after,
        .rabbit-left-eyebrow::after{
            transform: translate(87px , 0px);
        }
        .rabbit-right-eyebrow::before,
        .rabbit-left-eyebrow::before{
            transform: translate(34px , 16px);
        }
        .rabbit-right-nose,
        .rabbit-left-nose{
            width: 14px;
            height: 14px;
            background-image: linear-gradient(-45deg, #ff908c 50%, transparent 50%);
            border-radius: 4px;
            transform: translate(57px, -28px) rotate(45deg);
        }
        .rabbit-right-mouth,
        .rabbit-left-mouth{
            width: 22px;
            height: 23px;
            background: #555458;
            border-radius: 4px 4px 12px 10px;
            overflow: hidden;
            transform: translate(53px , -13px);
        }
        .rabbit-left-mouth{
            border-radius: 4px 4px 10px 12px;
            transform: translate(53px, -13px) scaleY(0.8);
        }
        .rabbit-right-mouth::before,
        .rabbit-left-mouth::before{
            transform: translate(4px , 0px);
            width: 11px;
            height: 7px;
            background: #555458;
            border-radius: 0 0 3px 3px;
            box-shadow: inset 55px 50px 0 -50px #fffff8, inset -55px 50px 0 -50px #fffff8;
            z-index: 1;
        }
        .rabbit-right-mouth>div::before,
        .rabbit-left-mouth>div::before{
            width: 15px;
            height: 20px;
            border-radius: 50%;
            background: #e16858;
            transform: translate(5px , 5px);
        }
        .rabbit-right-ear-left,
        .rabbit-left-ear-left{
            width: 20px;
            height: 80px;
            background: #eda294;
            border-radius: 5px 19px 100% 10px;
            box-shadow: inset -9px 2px #ece0b1;
            transform-origin: bottom center;
            transform: translate(220px , 62px) rotate(-40deg);
        }
        .rabbit-right-ear-left::before,
        .rabbit-left-ear-left::before,
        .rabbit-right-ear-right::before,
        .rabbit-left-ear-right::before
        {
            width: 89px;
            height: 25px;
            background: #ece0b1;
            border-radius: 100%;
            transform-origin: center right;
            transform: translate(-73px , -8px) rotate(-20deg);
        }
        .rabbit-right-ear-right,
        .rabbit-left-ear-right{
            width: 22px;
            height: 76px;
            background: #eda294;
            border-radius: 10px 50% 90% 0;
            box-shadow: inset -10px 7px #ece1b4;
            transform-origin: bottom center;
            transform: translate(274px, 8px) rotate(27deg);
            animation: anim-ear linear infinite forwards 6s;
        }
        /********************** Rabbit Face End ********************/

        
        /********************** City Start ********************/
        .city{
            width: 1250px;
            height: 173px;
            background-color: rgba(45, 45, 45, 0.735);
            position: absolute;
            top: 0;left: 0;
        }
        .city>div{
            height: 100%;
            position: absolute;
        }
        .city>div:nth-of-type(1){
            width: 132px;
            background-color: rgb(52, 52, 52);
            top: 0;left: 0;
        }
        .city>div:nth-of-type(1)>div,
        .city>div:nth-of-type(1)>div::after,
        .city>div:nth-of-type(1)>div::before
        {
            width: 10px;
            height: 60px;
            background-color: rgb(209, 195, 3);
            position: absolute;
        }

        .city>div:nth-of-type(1)>div:nth-of-type(1){
            top: 15px;left: 10px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(1)::after{
            top: 0px;left: 40px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(1)::before{
            top: 0px;left: 60px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(2){
            top: 15px;left: 30px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(2)::after{
            top: 0px;left: 80px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(2)::before{
            top: 0px;left: 60px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(3){
            top: 95px;left: 10px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(3)::after{
            top: 0px;left: 40px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(3)::before{
            top: 0px;left: 60px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(4){
            top: 95px;left: 30px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(4)::after{
            top: 0px;left: 80px;
        }
        .city>div:nth-of-type(1)>div:nth-of-type(4)::before{
            top: 0px;left: 60px;
        }
        .city>div:nth-of-type(2){
            width: 155px;height: 100%;
            background: rgb(57, 57, 57);
            top: 0;left: 12%;
        }
        .city>div:nth-of-type(2)>div{
            position: absolute;
            background-color: rgb(209, 195, 3);
            width: 50px;
            height: 10px;
        }
        .city>div:nth-of-type(2)>div::after,
        .city>div:nth-of-type(2)>div::before{
            position: absolute;
            background-color: rgb(209, 195, 3);
            width: 25px;
            height: 10px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(1){
            top: 10px;left: 10px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(1)::after{
            top: 0; left: 70px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(1)::before{
            top: 0; left: 110px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(2)::after{
            top: 0; left: -45px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(2){
            top: 30px;left: 95px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(2)::before{
            top: 0; left: -85px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(3){
            top: 52px;left: 10px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(3)::after{
            top: 0; left: 70px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(3)::before{
            top: 0; left: 110px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(4)::after{
            top: 0; left: -45px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(4){
            top: 72px;left: 95px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(4)::before{
            top: 0; left: -85px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(5){
            top: 92px;left: 10px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(5)::after{
            top: 0; left: 70px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(5)::before{
            top: 0; left: 110px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(6)::after{
            top: 0; left: -45px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(6){
            top: 112px;left: 95px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(6)::before{
            top: 0; left: -85px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(7){
            top: 132px;left: 10px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(7)::after{
            top: 0; left: 70px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(7)::before{
            top: 0; left: 110px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(8)::after{
            top: 0; left: -45px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(8){
            top: 152px;left: 95px;
        }
        .city>div:nth-of-type(2)>div:nth-of-type(8)::before{
            top: 0; left: -85px;
        }
        .city>div:nth-of-type(3){
            width: 70px;height: 70px;
            background-color: transparent;
            box-shadow: inset 0px 31px 0 -4px #eaeaea;
            transform: rotate(-45deg);
            border-radius: 50%;
            position: absolute;
            top: 20px;
            left: 50%;
        }
        .city>div:nth-of-type(3)>div{
            position: absolute;
            color: #eaeaea;
        }
        .city>div:nth-of-type(3)>div{
            position:absolute;
            margin:10px auto;
            width:10px;
        }
        .city>div:nth-of-type(3)>div::before,
        .city>div:nth-of-type(3)>div::after{
            content:"";
            position:absolute;
            background: #eaeaea;
            width:10px;
            height:12px;
            transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
        }
        .city>div:nth-of-type(3)>div::after{
            transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
        }
        .city>div:nth-of-type(3)>div:nth-of-type(1){
            top: 65px;
            left: 40%;
        }
        .city>div:nth-of-type(3)>div:nth-of-type(2){
            top: 102px;
            left: 15%;
            transform: scale(.4);
        }
        .city>div:nth-of-type(3)>div:nth-of-type(3){
            top: 42px;
            left: -56%;
            transform: scale(.5);
        }
        .city>div:nth-of-type(3)>div:nth-of-type(4){
            top: 30px;
            left: 127%;
            transform: scale(.8);
        }
        .city>div:nth-of-type(3)>div:nth-of-type(5){
            top: -60px;
            left: -56%;
            transform: scale(1.2);
        }
        .city>div:nth-of-type(3)>div:nth-of-type(6){
            top: -5px;
            left: -97%;
            transform: scale(.3);
        }
        .city>div:nth-of-type(3)>div:nth-of-type(7){
            top: 90px;
            left: 148%;
            transform: scale(.9);
        }
        .city>div:nth-of-type(3)>div:nth-of-type(8){
            top: 94px;
            left: -47%;
            transform: scale(.5);
        }
        .city>div:nth-of-type(4){
            width: 155px;
            background-color: rgb(52, 52, 52);
            top: 0;right: 0;
        }
        .city>div:nth-of-type(4)>div,
        .city>div:nth-of-type(4)>div::after,
        .city>div:nth-of-type(4)>div::before
        {
            width: 10px;
            height: 20px;
            background-color: rgb(209, 195, 3);
            position: absolute;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(1){
            top: 10px;left: 15px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(1):after{
            top: 0px;left: 25px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(1):before{
            top: 0px;left: 50px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(2){
            top: 40px;left: 15px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(2):after{
            top: 0px;left: 25px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(2):before{
            top: 0px;left: 50px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(3){
            top: 70px;left: 15px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(3):after{
            top: 0px;left: 25px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(3):before{
            top: 0px;left: 50px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(4){
            top: 100px;left: 15px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(4):after{
            top: 0px;left: 25px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(4):before{
            top: 0px;left: 50px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(5){
            top: 130px;left: 15px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(5):after{
            top: 0px;left: 25px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(5):before{
            top: 0px;left: 50px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(6),
        .city>div:nth-of-type(4)>div:nth-of-type(6)::after,
        .city>div:nth-of-type(4)>div:nth-of-type(6)::before
        {
            top: 105px;left: 100px;
            width: 30px;
            height: 40px;
            background-color: rgb(209, 195, 3);
            position: absolute;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(6):after{
            top: -90px;left: 0px;
        }
        .city>div:nth-of-type(4)>div:nth-of-type(6):before{
            top: -45px;left: 0px;
        }
        .city>div:nth-of-type(5){
            width: 128px;
            background-color: rgb(52, 52, 52);
            top: 0;right: 14%;
        }
        .city>div:nth-of-type(5)>div,
        .city>div:nth-of-type(5)>div::after,
        .city>div:nth-of-type(5)>div::before
        {
            width: 20px;
            height: 20px;
            background-color: rgb(209, 195, 3);
            position: absolute;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(1){
            top: 20px;
            left: 20px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(1)::after{
            top: 0px;
            left: 70px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(1)::before{
            top: 0px;
            left: 35px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(2){
            top: 55px;
            left: 20px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(2)::after{
            top: 0px;
            left: 70px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(2)::before{
            top: 0px;
            left: 35px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(3){
            top: 90px;
            left: 20px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(3)::after{
            top: 0px;
            left: 70px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(3)::before{
            top: 0px;
            left: 35px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(4){
            top: 125px;
            left: 20px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(4)::after{
            top: 0px;
            left: 70px;
        }
        .city>div:nth-of-type(5)>div:nth-of-type(4)::before{
            top: 0px;
            left: 35px;
        }
        .ribbon{
            width:  1250px;
            height:12px;
            background-color: rgb(6, 64, 0);
            position: absolute;
            top: 30%;
            left: 0;

        }
        /********************** City End ********************/

        /********************** Garden Start ********************/
        .garden{
            width:  1250px;
            height: 173px;
            background-color: rgb(53, 70, 53);
            position: absolute;
            top: 32%;left: 0; 
        }
        .garden>div{
            position: absolute;
        }
        .garden>div:nth-of-type(1){
            top: 0px;
            left: 138px;
            width: 125px;
            height: 173px;
            border-radius: 60% 40% 0 0;
            background: #46a678;
            position: absolute;
        }
        .garden>div:nth-of-type(1)::before{
            top: 36px;
            left: -66px;
            width: 80px;
            height: 137px;
            background: #46a678;
            border-radius: 60% 40% 0 0;
            position: absolute;
        }
        .garden>div:nth-of-type(1)::after{
            top: 37px;
            left: -7px;
            width: 25px;
            height: 30px;
            border-radius: 50%;
            background: transparent;
            position: absolute;
            box-shadow: inset 0 -20px #46a678;
        }
        .garden>div:nth-of-type(2){
            top: 0px;
            right: 435px;
            transform: rotateY(180deg);
            width: 125px;
            height: 173px;
            border-radius: 60% 40% 0 0;
            background: #46a678;
            position: absolute;
        }
        .garden>div:nth-of-type(2)::before{
            top: 36px;
            left: -66px;
            width: 80px;
            height: 137px;
            background: #46a678;
            border-radius: 60% 40% 0 0;
            position: absolute;
        }
        .garden>div:nth-of-type(2)::after{
            top: 37px;
            left: -7px;
            width: 25px;
            height: 30px;
            border-radius: 50%;
            background: transparent;
            position: absolute;
            box-shadow: inset 0 -20px #46a678;
        }
        .garden>div:nth-of-type(3){
            top: 0;
            right: 101px;
            width: 168px;
            height: 173px;
            background: #46a678;
            border-radius: 50% 50% 0 0;
            position: absolute;
        }
        .garden>div:nth-of-type(3)::before{
            top: -2px;
            left: 79px;
            width: 190px;
            height: 175px;
            background: #46a678;
            border-radius: 50% 50% 0 0;
            position: absolute;
        }
        .garden>div:nth-of-type(3)::after{
            top: -1px;
            left: 90px;
            width: 70px;
            height: 50px;
            border-radius: 50%;
            background: transparent;
            box-shadow: inset 0 -41px #46a678;
            position: absolute;
        }
        .garden>div:nth-of-type(4){
            top: 0;
            right: 701px;
            width: 168px;
            height: 173px;
            background: #46a678;
            border-radius: 50% 50% 0 0;
            position: absolute;
        }
        .garden>div:nth-of-type(4)::before{
            top: -2px;
            left: 79px;
            width: 190px;
            height: 175px;
            background: #46a678;
            border-radius: 50% 50% 0 0;
            position: absolute;
        }
        .garden>div:nth-of-type(4)::after{
            top: -1px;
            left: 90px;
            width: 70px;
            height: 50px;
            border-radius: 50%;
            background: transparent;
            box-shadow: inset 0 -41px #46a678;
            position: absolute;
        }
        .leaf{
            width: 20px;
            height: 65px;
            background-color: #1d8360;
            position: absolute;
            border-radius: 70% 70% 81% 81%;
        }
        .leaf1{
            transform: rotate(-20deg);
            top: 62%; left: 52%;
        }
        .leaf2{
            transform: rotate(20deg);
            top: 58%; left: 55%;
        }
        .leaf3{
            transform: rotate(-23deg);
            top: 33%; left: 52%;
        }
        .leaf4{
            transform: rotate(10deg);
            top: 29%; left: 54%;
        }
        .leaf5{
            transform: rotate(0deg);
            top: 2%; left: 53%;
        }
        .leaf6{
            transform: rotate(-20deg);
            top: 2%; left: 70%;
        }
        .leaf7{
            transform: rotate(30deg);
            top: 20%; left: 72%;
        }
        .leaf8{
            transform: rotate(-30deg);
            top: 20%; left: 2%;
        }
        .leaf9{
            transform: rotate(20deg);
            top: 20%; left: 5%;
        }
        .leaf10{
            transform: rotate(10deg);
            top: 58%; left: 3%;
        }
        .leaf11{
            transform: rotate(-10deg);
            top: 58%; left: 21%;
        }
        .leaf12{
            transform: rotate(10deg);
            top: 20%; left: 21%;
        }
        .gold{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            z-index: 3;
            background-color: rgb(209, 195, 3);
        }
        .gold1{
            top: 53%; left: 21%;
        }
        .gold2{
            top: 50%; left: 2%;
        }
        .gold3{
            top: 30%; left: 4%;
        }
        .gold4{
            top: 13%; left: 7%;
        }
        .gold5{
            top: 13%; left: 21%;
        }
        .gold6{
            top: 13%; left: 52%;
        }
        .gold7{
            top: 18%; left: 55%;
        }
        .gold8{
            top: 68%; left: 54%;
        }
        .gold9{
            top: 40%; left: 53%;
        }
        .gold10{
            top: 11%; left: 30%;
        }
        .gold11{
            top: 22%; left: 32%;
        }
        .gold12{
            top: 50%; left: 73%;
        }
        .gold12{
            top: 0%; left: 54.5%;
        }
        .gold13{
            top: 24%;
            left: 29%;
        }
        .gold14{
            top: 6%; left: 99%;
        }
        .gold15{
            top: 56%; left: 4%;
        }
        .gold16{
            top: 6%; left: 72%;
        }
        .gold17{
            top: 41%; left: 71%;
        }
        .window{
            left: 154px;
            border-top: 29px solid #375552;
            background: rgb(53, 70, 53);
        }
        .window::after{
            position: absolute;
            top: 29px;
            left: 217px;
            width: 3px;
            height: 81px;
            background: rgb(53, 70, 53);
        }
        .window::before{
            top: 36px;
            position: absolute;
            left: 285px;
            width: 48px;
            height: 70px;
            border-radius: 30px 30px 0 0;
            box-shadow: -92px 0 #ffbc1f;
        }
        /********************** Garden End ********************/

        /********************** Room Start ********************/
        .room{
            width:  1250px;
            height: 250px;
            background-color: rgb(133 133 133);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
        }
        .sofa-right,
        .sofa-left
        {
            width: 400px;
            height: auto;
            position: absolute;
            bottom: 20px;
            z-index: 999;
        }
        .sofa-right{
            right: 0px;
            transform: scale(0.8);
        }
        .sofa-left{
            left: 0px;
            transform: scale(0.75) rotateY(180deg);
        }

        .sofa-right>div:nth-of-type(1),
        .sofa-left>div:nth-of-type(1){
            width: 280px;
            height: 140px;
            background-color: #560056;
            transform-origin: bottom left;
            border-radius: 10px;
            transform: skewX(62deg);
            position: absolute;
            bottom: 100px;
            right: 0px;
        }
        .sofa-left>div:nth-of-type(1){
            background-color: #00225b;
        }
        .sofa-right>div:nth-of-type(2),
        .sofa-left>div:nth-of-type(2){
            width: 133px;
            height: 92px;
            background-color: #2a2a2a;
            transform-origin: top;
            transform: skewX(62.5deg) rotatez(70deg);
            position: absolute;
            bottom: 72px;
            right: 301px;
        }
        .sofa-right>div:nth-of-type(5),
        .sofa-left>div:nth-of-type(5){
            width: 230px;
            height: 44px;
            position: absolute;
            top: -101px;
            left: 166px;
            z-index: 5;
            background-color: #2a2a2a;
        }
        .sofa-right>div:nth-of-type(6),
        .sofa-right>div:nth-of-type(7),
        .sofa-right>div:nth-of-type(8),
        .sofa-right>div:nth-of-type(9),
        .sofa-left>div:nth-of-type(6),
        .sofa-left>div:nth-of-type(7),
        .sofa-left>div:nth-of-type(8),
        .sofa-left>div:nth-of-type(9)
        {
            width: 25px;
            height: 144px;
            background-color:#2a2a2a;
            z-index: 6;
            position: absolute;
        }
        .sofa-right>div:nth-of-type(6),
        .sofa-left>div:nth-of-type(6){
            top: -357px;
            left: -137px;
            height: 230px;
        }
        .sofa-right>div:nth-of-type(7),
        .sofa-left>div:nth-of-type(7){
            top: -329px;
            left: -125px;
            height: 25px;
            width: 272px;
        }
        .sofa-right>div:nth-of-type(8),
        .sofa-left>div:nth-of-type(8){
            top: -125px;
            left: 149px;
        }
        .sofa-right>div:nth-of-type(9),
        .sofa-left>div:nth-of-type(9){
            top: -125px;
            left: 371px;
        }
        .sofa-right>div:nth-of-type(10),
        .sofa-left>div:nth-of-type(10){
            width: 286px;
            height: 150px;
            background-color: #2a2a2a;
            position: absolute;
            right: 23px;
            top: -309px;
            transform: skewX(29.5deg) rotate(31deg);
            box-shadow: inset 2px 1px 0px 18px #560056;
            border-radius: 10px;
            border-bottom: 4px solid#2a2a2a;
            z-index: 100;
        }
        .sofa-left>div:nth-of-type(10){
            box-shadow: inset 2px 1px 0px 18px #00225b;
        }
        .sofa-right>div:nth-of-type(11),
        .sofa-left>div:nth-of-type(11){
            width: 275px;
            height: 68px;
            position: absolute;
            background-color:rgb(62 62 62 / 73%);
            top: -307px;
            left: -121px;
        }
        .table{
            width: 20%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 48%;
            transform: scale(0.8);
        }
        .table>div:nth-of-type(1){
            width: 220px;
            height: 135px;
            transform-origin: center;
            transform: skew(43deg, 0deg);
            position: absolute;
            top: 30px;
            background-color: rgb(86, 86, 86);
            left: -109px;
        }
        .table>div:nth-of-type(2){
            width: 220px;
            height: 35px;
            transform-origin: center;
            position: absolute;
            top: 164px;
            background-color: rgb(52, 52, 52);
            left: -46px;
        }
        .table>div:nth-of-type(3){
            width: 50px;
            height: 170px;
            transform-origin: center;
            position: absolute;
            top: 29px;
            transform: skew(43deg, 0deg);
            background-color: rgb(52, 52, 52);
            left: -130px;
        }
        .table>div:nth-of-type(4){
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 55px 85px 0;
            position: absolute;
            top: 26px;
            left: -209px;
            z-index: 5;
            border-color: transparent rgb(133 133 133) transparent transparent;
        }
        .table>div:nth-of-type(5){
            width: 18px;
            height: 120px;
            background-color: rgb(52, 52, 52);
            position: absolute;
            top: 53px;
            left: -154px;
        }
        .table>div:nth-of-type(6){
            width: 18px;
            height: 76px;
            background-color: rgb(52, 52, 52);
            position: absolute;
            top: 192px;
            left: -51px;
        }
        .table>div:nth-of-type(7){
            width: 18px;
            height: 76px;
            background-color: rgb(52, 52, 52);
            position: absolute;
            top: 192px;
            left: 156px;
        }
        .light{
            width: 100px;
            height: 100px;
            position: absolute;
            top: 9%;
            left: 47%;
            transform: scale(.8);
        }
        .light::after{
            width: 100%;
            height: 100%;
            background-color: yellow;
            position: absolute;
            top: -40px;
            left: -18px;
            border-radius: 50%;
            opacity: 0.4;
            box-shadow: 5px 5px 29px 33px yellow;
        }
        .light-top
        {
            width: 50px;
            height: 50px;
            background-color: rgb(209, 195, 3);
            position: absolute;
            top: 0;left: 20px;
        }
        .light-bottom
        {
            width: 25px;
            height: 27px;
            background-color: #d1742f;
            position: absolute;
            top: 70px;
            left: 30px;
        }
        .light-top>div:nth-of-type(1)
        {
            width: 30px;
            height: 50px;
            transform-style: preserve-3d;
            background-color: #f7dc4b;
            position: absolute;
            top: -19px;
            left: -30px;
            transform: skewY(32deg);
            transform-origin: left;
        }
        .light-top>div:nth-of-type(2){
            width: 51px;
            height: 19px;
            background: #f7dc4b;
            transform-origin: top left;
            transform: skewX(58deg);
            transform-style: preserve-3d;
            position: absolute;
            top: -19px;
            left: -31px;
        }
        .light-top>div:nth-of-type(3){
            width: 5px;
            height: 20px;
            background-color: wheat;
            position: absolute;
            top: 50px;
            left: 10px;
        }
        .light-bottom>div:nth-of-type(1)
        {
            width: 15px;
            height: 28px;
            transform-style: preserve-3d;
            background-color: #df8743;
            position: absolute;
            top: -10px;
            left: -15px;
            transform: skewY(32deg);
            transform-origin: left;
        }
        .light-bottom>div:nth-of-type(2){
            width: 24px;
            height: 10px;
            background: #df8743;
            transform-origin: top left;
            transform: skewX(58deg);
            transform-style: preserve-3d;
            position: absolute;
            top: -10px;
            left: -15px;
        }
        .glass-right{
            top: -61px;
            right: 434px;
            width: 3px;
            height: 38px;
            background: #fffff8;
            position: absolute;
        }
        .glass-right::before{
            top: -41px;
            left: -17px;
            width: 36px;
            height: 36px;
            background-image: linear-gradient(-45deg, transparent 4%, #e16858 4%, #e16858 31%, #fffff8 31%, #fffff8 50%, transparent 50%);
            transform: rotate(45deg);
            position: absolute;
        }
        .glass-right::after{
            top: -44px;
            left: 4px;
            width: 3px;
            height: 31px;
            background: #fef76c;
            transform-origin: bottom left;
            transform: skewX(-22deg);
            position: absolute;
        }
        .glass-right>div{
            top: -34px;
            left: 6px;
            width: 10px;
            height: 14px;
            background: #67ce6f;
            border-radius: 50%;
            box-shadow: inset -1px 0px 0 3px #5ca348;
            transform: rotate(30deg);
            z-index: 10;
            position: absolute;
        }
        .glass-left{
            left: 282px;
            top: -14px;
            z-index: 1000;
        }
        /********************** Room End ********************/
